<div class="actions">
  <div class="row">
    <div class="checkbox-cell">
      <Input
        @type="checkbox"
        @checked={{@allSelected}}
        @indeterminate={{@indeterminate}}
      />
      <span class="checkbox-link" {{on "click" @toggleSelected}}></span>
    </div>
    <div class="selected">Selected {{@selectedCount}}</div>
    <div class="download"><img height="12" src="/images/download.svg" /><span role="link" {{on "click" @downloadAction}}>Download Selected</span></div>
  </div>
</div>