<div
  class="row {{if @item.selected "selected"}} {{unless (eq @item.status "available") "disabled"}}"
  {{on "click" @toggleAsset}}
>
  <div class="checkbox-cell">
    <Input
      @type="checkbox"
      @checked={{eq @item.selected true}}
      disabled={{not-eq @item.status "available"}}
    />
    <span class="checkbox-link"></span>
  </div>
  <div class="name">{{@item.name}}</div>
  <div class="device">{{@item.device}}</div>
  <div class="path">{{@item.path}}</div>
  <div class="status">
    <div class="status-icon {{@item.status}}"></div>
    <span class="status-text">{{capitalize @item.status}}</span>
  </div>
</div>